<form class="form-signin" id="loginForm">
    <h2 class="form-signin-heading">Login</h2>
    <label for="inputMembershipNumber">MembershipNumber</label>
    <input 
       type="text"
       name="membershipNumber"
       id="inputMembershipNumber" 
       class="form-control"
       placeholder="membershipNumber" 
       autofocus
       required><br>
    <label for="inputPassword">Password</label>
    <input 
       type="password"
       name="password"
       id="inputPassword" 
       class="form-control"
       placeholder="Password" 
       autocomplete="current-password"
       required><br>
    <button type="submit">Login</button>
</form>

<script src="/js/login.js"></script>
